{% extends 'appointment/base.html' %}
{% block title %}{{ Appointment }}{% endblock %}
{% block appointments_active %}active{% endblock %}

{% block body %}
<div class="container-fluid consultations-container">

    <div class="row">

        <!-- Left Appointment Info -->
        <div class="col-sm-4 col-md-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <a href="{% url 'appointment:detail' appointment.id %}">
                        <img src="../../static/images/hospital.jpg" class="img-responsive">
                    </a>
                    <h1>{{ appointment.doctor }} <small>{{ appointment.is_doctor }}</small></h1>
                    <h2>{{ appointment.patient_name }}</h2>
                </div>
            </div>
        </div>

        <!-- Right Consultation Info -->
        <div class="col-sm-8 col-md-9">

            <ul class="nav nav-pills" style="margin-bottom: 10px;">
                <li role="presentation" class="active"><a href="{% url 'appointment:detail' appointment.id %}">View All</a></li>
                <li role="presentation"><a href="{% url 'appointment:create_consultation' appointment.id %}">Add New Consultation</a></li>
            </ul>

            <div class="panel panel-default">
                <div class="panel-body">

                    <h3>All Consultations</h3>

                    {% if error_message %}
                        <p><strong>{{ error_message }}</strong></p>
                    {% endif %}

                    <table class="table">
                        <thead>
                        <tr>
                            <th>Time</th>
                            <th>Date</th>
                            <th>File Number</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for consultation in appointment.consultation_set.all %}
                            <tr>
                                <td>{{ appointment.time }}</td>
                                <td>{{ appointment.date }}</td>
                                <td>{{ appointment.file_number }}</td>
                                <td>
                                    <a href="{% url 'appointment:isdoctor' consultation.id %}" class="btn-favorite"><span class="glyphicon glyphicon-star {% if consultation.isdoctor %}active{% endif %}"></span></a>
                                </td>
                                <td>
                                    <form action="{% url 'appointment:delete_consultation' appointment.id consultation.id %}" method="post" style="display: inline;">
                                        {% csrf_token %}
                                        <input type="hidden" name="consultation_id" value="{{ consultation.id }}" />
                                        <button type="submit" class="btn btn-danger btn-xs">
                                            <span class="glyphicon glyphicon-remove"></span>&nbsp; Delete
                                        </button>
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                </div>
            </div>

        </div>

    </div>

</div>

{% endblock %}






















